body{
   background-color: white;
}
 
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
   color: hsl(0, 0%, 95%);
}

p,a{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin-right:70px;
    line-height: 2;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
height: 80vh;
margin:100px;
justify-content: center;
}

.first{
    
    background-color: hsl(31, 77%, 52%);
    display:grid;
    grid-template-rows: 1fr 1fr 2fr;
    place-items: start;
    padding:50px;
    border-radius: 4px;
}
.first a{
    display: grid;
    place-self:start;
    margin-bottom: 50px;
    width:100px;
    background-color: hsl(31, 77%, 52%);
    padding:10px;
    text-align: center;
    border-radius:40px ;
    text-decoration: none;
   border:2px solid white;
  color:white;

}
.second{
    display:grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: hsl(184, 100%, 22%);
    place-items: start;
    padding:50px;
}
.third{
    display:grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: hsl(179, 100%, 13%);
    place-items: start;
    padding:50px;
    border-radius: 4px;
}
.third a{
    display: grid;
    place-self:start;
    margin-bottom: 50px;
    width:100px;
    background-color: hsl(179, 100%, 13%);
    padding:10px;
    text-align: center;
    border-radius:40px ;
    text-decoration: none;
   border:2px solid white;
  color:white;
 
}
.second a{
    display: grid;
    place-self:start;
    margin-bottom: 50px;
    width:100px;
    background-color:hsl(184, 100%, 22%);;
    padding:10px;
    text-align: center;
    border-radius:40px ;
    text-decoration: none;
   border:2px solid white;
  color:white;
 
}

.attribution a{
    margin:0;
}